@import url('https://fonts.googleapis.com/css?family=Coiny|Orbitron');

* {
	margin: 0;
	padding: 0px;
	
}

body
{
	background: black;
}

div
{
	height: 16vh;
	outline: none;
}

input
{
	background: black;
	height: 100%;
	width: 100%;
	font-size: 3em;
	text-align: center;
	color: #ffffff;
	font-family: Orbitron;
	border-radius: 30px;
	border-color: orange;
	outline: none;
	transition: background 0.3s ease-in-out;

}

input:hover
{
	background: maroon;
	cursor: pointer;
}

input:focus
{
	background: #C14242;
}

#title
{
	position: relative;
	right: 0px;
	top: 50%;
	height: 100%;
	width: 100%;
	font-size: 2em;
	background-color: aqua;
	text-align: center;
	color: black;
	font-family: Orbitron;
	cursor: help;
	transition: all 1s ease-in-out;
}

#title:hover
{
	background-color: green;
}



::-webkit-input-placeholder
{
	color: #ddd;
	font-family: Orbitron;
}

#reset
{
	text-align:center;
	width: 300px;
	height: 100px;
	padding: 5px;
	border-radius: 50px;
	font-size: 3em;
	background-color: orange;
	outline: none;
	transform: scale(0.7);
	box-shadow: 0px 0px 25px 10px white;
	transition: all 0.3s ease-in-out;
}

#reset:hover
{
	background-color: red;
	color: white;
}

#reset:active
{
	transform: scale(0.6);
}

.credit
{
	position: absolute;
	bottom: -5;
	right: 10px;
	color: white;
	text-align: center;
}

a
{
	text-decoration: inherit;
	color: white;
}
